Screen {
    layout: vertical;
    overflow-y: hidden;
}

TreeApp {
    height: 100%;
    max-height: 45vh;
}

AlternativeHeader{
    text-style: reverse;
}

TextLog{
    /*padding: 4 8;*/
    border: heavy red;

    border-title-color: green;
    border-title-background: white;
    border-title-style: bold;

    border-subtitle-color: magenta;
    border-subtitle-background: yellow;
    border-subtitle-style: italic;
}

.alternative_footer{
    width: 100%;
    max-height: 4vh;
    /* padding-left: 0; */
}

.box {
    padding-left: 3;
}